* {
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(231, 231, 231);
}

/* Styling for the header section */
header {
    background-color: #0D47A1;
    padding: 20px;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

/* style for the nav bar */

header nav {
    display: flex;
    justify-content: center;
  }

  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav a {
    color: rgb(231, 231, 231);
    text-decoration: none;
  }
  

/* Style for the main section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.property-card {
    width: 30%;
    background-color: white;
    box-shadow: 0 2px 5px #CCCCCC;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.property-card h3 {
    margin: 0;
}

.property-card p {
    margin: 0;
    font-size: 1.2em;
    color: #9E9E9E;
}

/* Style for the footer section */
footer {
    background-color: #0D47A1;
    padding: 20px;
    color: white;
    text-align: center;
}

/*.main-section {
    background-image: url(./images/aerea.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    opacity: 1;
}*/

.main-section {
    background: url(./video/ALTEZIA\ 1.mp4) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
